### Files:

# Editors:
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Logs:
*.local
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*





### Directories:

# Editors
.DS_Store
.idea
.vscode

# Dependencies:
node_modules

# Logs:
logs

# Production build:
dist
dist-ssr
